
{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>

{{else}}


{{/each}}

<style>
#article_editor{border:none;}
</style>


<div class="card card-body">
  <h3>{{idea.title}}</h3>
  <div class="conts">
    {{idea.details}}
  </div> 
  <p> <a class="btn-primary btn" href="javascript:history.go(-1)">返回</a></p>   
</div>

