<div class="row col-lg-6">
	<h1>上传头像</h1>

	<form action="/users/setavator/{{user.id}}" method="post" enctype="multipart/form-data">
	  <div class="form-group">
		<label for="avator">更改头像</label>
		<input type="file" class="form-control" id='avator' name='avator'/>
	  </div>
	  <button id='upload' type="submit" class="btn btn-primary">上传</button>
	</form>
</div>